NODE_ENV=production

DB_NAME=sasgym_prod
DB_USER=sasgym_user
DB_PASSWORD=CHANGE_ME
DB_HOST=postgres
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME

DATABASE_URL=postgresql://sasgym_user:CHANGE_ME@postgres:5432/sasgym_prod?schema=public

JWT_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME
JWT_ACCESS_TTL=15m
JWT_REFRESH_DAYS=7
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
HUELLA_SECRET_KEY=CHANGE_ME

API_BASE_URL=https://api.sas-gym.qpsecure.cloud/api/v1
WS_URL=wss://ws.sas-gym.qpsecure.cloud
APP_URL=https://app.sas-gym.qpsecure.cloud
ADMIN_URL=https://admin.sas-gym.qpsecure.cloud
CORS_ORIGINS=https://app.sas-gym.qpsecure.cloud,https://admin.sas-gym.qpsecure.cloud
PUBLIC_UPLOADS_ENABLED=false

EXTERNAL_PROXY_NETWORK=npm_proxy
